<h1><stong> Add a new place </strong></h1>

<%= form_with model: @place do |form| %>
    <p>
    <%= form.label "name", "Name" %>
    <%= form.text_field "name" %>
    </p>

  <%= form.submit %>
<% end %>